* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}
.inactive {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 250px auto auto auto;
    grid-template-rows: 60px 480px 1fr 1fr;
    grid-template-areas:
        "headers headers headers headers"
        "side main main main"
        "side main main main"
        "left-footer left-footer right-footer right-footer";
}

.header {
    align-self: center;
    grid-area: headers;
    background-color: #0D0000;
    color: white;
    font-size: 1.6rem;
    height: 60px;
}
.prueba{
    display: flex;
    place-content: end;

}
.prueba2{
    cursor: pointer;
    padding-top: 2px;
    right: 127px;
    position: absolute;
background-color: black;
color: white;
list-style: none;

}
.lista4{
    padding-top: 3px;
}
.ul-right {
    
    padding-right: 5px;
    display: flex;
    justify-content: end;
    text-align: right;
    list-style: none;
}


.lista1 {
    padding-right: 5px;
    display: flex;
    justify-content: end;
    display: inline-block;
}

.left-side {
    grid-area: side;
    background-color: #59402A;
    height: 522px;
}


.box {
    background-color: #8C6645;
    border-radius: 4px;
    width: 220px;
    margin-left: 10px;
}

.box1 {
    margin-top: 32px;

}

.box2 {
    margin-top: 20px;

}

.box3 {
    margin-top: 20px;
}

.main {
    grid-area: main;
    background-color: #A68568;
    /*width: 774px;*/
}

.left-footer {
    grid-area: left-footer;
    background-color: #D8D9D7;
}

.right-footer {
    grid-area: right-footer;
    background-color: #D8D9D7;
    text-align: right;
}

.ul-footer-left .lista2 {
    display: inline;
    list-style-type: none;
}

.ul-footer-right .lista3 {
    display: inline;
    list-style-type: none;
    text-align: right;
}